<h2>Your Game</h2>
Game Name: <%= @user.game.gamename %><br />
Entry Code: <%= @user.game.entrycode %><br />
Created on: <%= @user.game.created_at %><br />
Last Updated: <%= @user.game.updated_at %><br />
